<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wooyeah.matching.repository.MatchingRepository">

	<select id="selectByMatchingPostId" parameterType="int" resultType="MatchingDetailDto">
		select * from matching where id=#{postId}
	</select>

</mapper>